.MainButton{
    padding: 10px 30px;
    
    color: white;
    background-color: #DB4444;
    border-radius: 5px;
    border: 1px solid transparent;}

.MainButton:hover{
    background-color: white;
    color: #DB4444;
    border: 1px solid #DB4444;
}