.body { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../../public/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.form { 
    background-color: rgba(223, 223, 223, 0.468);
    backdrop-filter: blur(5px);
    max-width: 90%; 
    padding: 20px; 
    border-radius: 10px; 
}


#passStyle, #confirmPassStyle , #nameStyle { 
    position: relative;
}

#emailHelp, #passHelp {
    position: absolute;
}


#nameHelp { 
    position: absolute;
}

#confirmPassStyle .form-text { 
    position: absolute;
}